/*common*/
.profile {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 380px 1fr;
    -ms-grid-columns: 380px 1fr;
    grid-column-gap: 55px;
}

.profile a {
    color: #0064EB;
    text-decoration: none;
}

/*description*/
.description {
    padding: 39px 50px 0 50px;
}

.description .followers {
    width: 280px;
    padding: 30px 0 40px;
}

.description .login {
    font-size: 18px;
}

.description .followers span {
    display: inline-flex;
    align-items: center;
}

.description .icon1 img {
    width: 20px;
    height: 15px;
    padding-right: 6px;
}

.description .icon2 img {
    width: 30px;
    height: 17px;
    padding-right: 8px;
}

.description .icon1 {
    float: right;
}

.description .icon2 {
    float: left;
}

.description .avatar {
    width: 280px;
    height: 280px;
    border-radius: 140px;
}

/*repositories*/
.repositories {
    margin: 0 50px 0 20px;
}

.repositories .repos {
    display: grid;
    display: -ms-grid;
    align-items: center;
    min-height: 110px;
    margin: 18px 0 0 0;
    padding: 0 10px 0 30px;
    background-color: #FFFFFF;
    border-radius: 7px;
}

.repositories h1 {
    margin-bottom: 25px;
}

.repositories .repos .link {
    font-weight: 500;
    margin-top: 24px;
    font-size: 1.5em;
}

.repositories .repos .linkDescription {
    margin-bottom: 24px;
    text-align: left;
}

@media only screen and (max-width: 800px) {
    .profile {
        display: block
    }

    .repositories {
        margin: 0 30px 0 30px;
    }
}